nav {
	background-color: gray
	border-radius:0;
	border:0;
}
#navbar{
	background-color: lightgreen;
}
#list-container{
	margin-top: 50px;
}
#nav-list-data{
	background: #c7ff99;
}
#nav-list-data a{
	font-size: 1.5em;
	text-align: center;
}
#nav-list-data a:hover{
	background: orange;
}
#article{
	background-color: lightblue;
	min-height: 1000px;
}