nav {
	background-color: gray
	border-radius:0;
	border:0;
}
#nav-list-data{
	margin-top: 50px;
}
#nav-list-data li{
	background-color: green;
	font-size: 1.5em;
}
#nav-list-data li{
	text-align: center;
}